services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespw
      POSTGRES_DB: bank
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 55000:5432

volumes:
  pgdata:
