name: build-deploy-frontend
on:
  workflow_dispatch:
jobs:
  check-quality:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./aww-frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Enable Corepack (Yarn)
        run: |
          corepack enable
          corepack prepare yarn@stable --activate
          yarn --version
      - name: Cache Yarn
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Lint check
        run: yarn run lint
      - name: Type check
        run: yarn run typecheck
      - name: Run build
        run: yarn run build