name: build-deploy
on:
  workflow_dispatch:
jobs:
  check-quality:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Lint check
        run: yarn run lint
      - name: Type check
        run: yarn run typecheck
      - name: Run build
        run: yarn run build