name: build-deploy-frontend
on:
  workflow_dispatch:
jobs:
  build-deploy-frontend:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Enable Corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate
          yarn --version
      - name: Cache Yarn
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
      - name: Build Next App
        env:
          NEXT_PUBLIC_STRAPI_BASE_URL: ${{ vars.NEXT_PUBLIC_STRAPI_BASE_URL }}
        run: | 
          cd ./aww-frontend
          yarn 
          yarn build
      - name: Build Strapi
        run: |
          cd ./aww-cms
          yarn 
          yarn build
      - name: Create Ecosystem Config File
        env:
          NODE_ENV: production
          HOST: ${{ vars.HOST }}
          PORT: ${{ vars.PORT }}
          APP_KEYS: ${{ secrets.APP_KEYS }}
          API_TOKEN_SALT: ${{ secrets.API_TOKEN_SALT }}
          ADMIN_JWT_SECRET: ${{ secrets.ADMIN_JWT_SECRET }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          DATABASE_HOST: ${{ vars.DATABASE_HOST }}
          DATABASE_PORT: ${{ vars.DATABASE_PORT }}
          DATABASE_NAME: ${{ vars.DATABASE_NAME }}
          DATABASE_USERNAME: ${{ vars.DATABASE_USERNAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_SCHEMA: ${{ vars.DATABASE_SCHEMA }}
          NEXT_PORT: ${{ vars.NEXT_PORT }}
          STRAPI_ADMIN_BACKEND_URL: ${{ secrets.STRAPI_ADMIN_BACKEND_URL }}
          COURIER_TOKEN: ${{ secrets.COURIER_TOKEN }}
        run: |
          envsubst <  template.ecosystem.config.js > ecosystem.config.js
      - name: Deploy Frontend via SCP
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ inputs.AWW_HOST }}
          username: ${{ inputs.AWW_USERNAME }}
          password: ${{ secrets.AWW_PASSWORD }}
          source: |
            aww-frontend/.next
            aww-frontend/package.json
            aww-frontend/yarn.lock
            aww-frontend/public
            aww-frontend/next.config.js
            ecosystem.config.js
          target: ".aww/aww-frontend/"
          strip_components: 0
      - name: Deploy CMS via SCP
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ inputs.AWW_HOST }}
          username: ${{ inputs.AWW_USERNAME }}
          password: ${{ secrets.AWW_PASSWORD }}
          source: |
            aww-cms/package.json
            aww-cms/build
            aww-cms/yarn.lock
            aww-cms/public
            aww-cms/database
            aww-cms/config
          target: ".aww/aww-cms/"
          strip_components: 0
      - name: Connect To Remote Ssh Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ inputs.AWW_HOST }}
          username: ${{ inputs.AWW_USERNAME }}
          password: ${{ secrets.AWW_PASSWORD }}
          script: |
            rsync -a --delete ~/.aww/aww-cms/ ~/aww/aww-cms/
            cd ./aww/aww-cms/
            yarn install --frozen-lockfile
            rsync -a --delete ~/.aww/ecosystem.config.js ~/aww/ecosystem.config.js
            rsync -a --delete ~/.aww/aww-frontend/ ~/aww/aww-frontend/
            cd ./aww/aww-cms/
            yarn install --frozen-lockfile
            pm2 start ecosystem.config.js --env production