name: build-deploy

on:
  workflow_dispatch:

jobs:
  frontend:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Enable Corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      - name: Cache Frontend
        uses: actions/cache@v4
        with:
          path: aww-frontend/node_modules
          key: yarn-frontend-${{ hashFiles('aww-frontend/yarn.lock') }}

      - name: Build Next App
        env:
          NEXT_PUBLIC_STRAPI_BASE_URL: ${{ vars.NEXT_PUBLIC_STRAPI_BASE_URL }}
        run: |
          cd aww-frontend
          yarn install --frozen-lockfile
          yarn build

      - name: Deploy Frontend via SCP
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ vars.AWW_HOST }}
          username: ${{ vars.AWW_USERNAME }}
          password: ${{ secrets.AWW_PASSWORD }}
          source: "aww-frontend/.next, aww-frontend/public, aww-frontend/package.json, aww-frontend/yarn.lock, aww-frontend/next.config.js"
          target: ".build-staging/"
          strip_components: 0

      - name: Restart Frontend (PM2)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.AWW_HOST }}
          username: ${{ vars.AWW_USERNAME }}
          password: ${{ secrets.AWW_PASSWORD }}
          script: |
            rsync -a --delete ~/.build-staging/aww-frontend/ ~/aww/aww-frontend/
            cd ~/aww/aww-frontend
            yarn install --frozen-lockfile

  strapi:
    needs: frontend
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Enable Corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      - name: Cache Strapi
        uses: actions/cache@v4
        with:
          path: aww-cms/node_modules
          key: yarn-strapi-${{ hashFiles('aww-cms/yarn.lock') }}

      - name: Build Strapi
        run: |
          cd aww-cms
          yarn install --frozen-lockfile
          yarn build
      - name: Create Ecosystem Config File
        env:
          NODE_ENV: production
          HOST: ${{ vars.HOST }}
          PORT: ${{ vars.PORT }}
          APP_KEYS: ${{ secrets.APP_KEYS }}
          API_TOKEN_SALT: ${{ secrets.API_TOKEN_SALT }}
          ADMIN_JWT_SECRET: ${{ secrets.ADMIN_JWT_SECRET }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          DATABASE_HOST: ${{ vars.DATABASE_HOST }}
          DATABASE_PORT: ${{ vars.DATABASE_PORT }}
          DATABASE_NAME: ${{ vars.DATABASE_NAME }}
          DATABASE_USERNAME: ${{ vars.DATABASE_USERNAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_SCHEMA: ${{ vars.DATABASE_SCHEMA }}
          NEXT_PORT: ${{ vars.NEXT_PORT }}
          STRAPI_ADMIN_BACKEND_URL: ${{ secrets.STRAPI_ADMIN_BACKEND_URL }}
          COURIER_TOKEN: ${{ secrets.COURIER_TOKEN }}
        run: |
          envsubst <  template.ecosystem.config.js > ecosystem.config.js
      - name: Deploy Strapi via SCP
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ vars.AWW_HOST }}
          username: ${{ vars.AWW_USERNAME }}
          password: ${{ secrets.AWW_PASSWORD }}
          source: "aww-cms/build, aww-cms/package.json, aww-cms/yarn.lock, aww-cms/public, aww-cms/database, aww-cms/config, ecosystem.config.js"
          target: ".build-staging/"
          strip_components: 0

      - name: Restart Strapi (PM2)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.AWW_HOST }}
          username: ${{ vars.AWW_USERNAME }}
          password: ${{ secrets.AWW_PASSWORD }}
          script: |
            rsync -a --delete ~/.build-staging/ecosystem.config.js ~/aww/ecosystem.config.js
            rsync -a --delete ~/.build-staging/aww-cms/ ~/aww/aww-cms/
            cd ~/aww/aww-cms
            yarn install --frozen-lockfile
            cd ~/aww
            pm2 start ecosystem.config.js --env production
